.landing-body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin: 0;
}

.namee {
    text-decoration: none;
    color: snow;
}


.namee-inner {
    font-size: 5rem;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    text-align: center;
    transition: all 0.3s ease;
    padding: 10px 20px;
    border-radius: 10px;
}

.namee:hover .namee-inner {
    transform: scale(1.1);
    
    color: black;
    background-color: snow;
}